
:root {
  --scaleBase: 115%;
  --sizeBase: 1em;
  --separatorColor: #BBBBBB;
  --toggleCheckedColor: #0075FF;
}


html, body {
  overflow: auto;
  font-style: normal;
  font-family: tahoma, arial, verdana, sans-serif;
  font-size: var(--scaleBase);
  padding: 0;
  border: 0 none;
}


#PageHeader {
  background-color: #DDDDDD;
  box-shadow: 0 0 0.4em 0.15em #999999;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
}


#SearchForm {
  margin-top:    0.7em;
  margin-bottom: 0.7em;
  margin-left:   0.8em;
  margin-right:  0.6em;
}


#RigToggles {
  margin-bottom: 0.3em;
}
#RigToggles input {
  display: none;
}
#RigToggles span {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  font-size: calc(var(--sizeBase) * 1.1);
  width: 1.7em;
  padding-top: 0.2em;
  padding-bottom: 0.1em;
  padding-left: 0.2em;
  margin-right: 0.1em;
  color: #505050;
  background-color: #EEEEEE;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2) inset;
  border: 2px inset lightgray;
  border-radius: 5px;
  cursor: pointer;
}
#RigToggles input:checked~ span {
  color: white;
  background-color: var(--toggleCheckedColor);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: none;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  border: 2px outset #626262;
  transform: translateY(-1px);
}


#SearchInput {
  width: calc(100% - 0.2em);
  overflow: hidden;
  background-color: #F5F5F5;
  font-size: var(--sizeBase);
  margin-top: 0.2em;
  padding-top: 0.1em;
  padding-left: 0.3em;
}
#SearchInput::placeholder {
  font-style: italic;
  filter: brightness(1.07);
}


#ResultsTable {
  border-spacing: 0;
}
#ResultsTable tr td {
  vertical-align: top;
}
#ResultsTable tr td:nth-child(1) {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-right: 1em;
  padding-left: 1em;
  text-indent:-1em;
  font-size: var(--sizeBase);
}
#ResultsTable tr td:nth-child(1):not(:empty) {
  border-top: 1px solid var(--separatorColor);
}
#ResultsTable tr td:nth-child(2) {
  border-top: 1px solid var(--separatorColor);
  font-size: calc(var(--sizeBase) * 0.9);
  font-style: italic;
  vertical-align: middle;
  padding-top: 0.4em;
  padding-bottom: 0.3em;
  padding-right: 0.2em;
  padding-left: 1.5em;
  text-indent:-1em;
}
#ResultsTable tr:last-child td {
  border-bottom: 1px solid var(--separatorColor);
}


span.MatchText {
  font-weight: bold;
}


.RefreshAnim {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 2em;
  height: 2em;
}

.ModalDialog {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
}

.ModalOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(230,230,230,0.7);
  align-items: flex-start;
  justify-content: center;
}

