
:root {
  --scaleBase: 110%;
  --sizeBase: 1em;
  --hangingIndent: 1em;
  --separatorColor: #BBBBBB;
  --toggleCheckedColor: #0075FF;
  /* 'N-ary Times Operator' (unicode 10761), followed by 'Six-Per-Em Space' (unicode 8198) */
  /*--quantitySeparator: "⨉ ";*/
  /* 'Multiplication Sign' (unicode 215), followed by 'Six-Per-Em Space' (unicode 8198) */
  --quantitySeparator: "× ";
}


html, body {
  overflow: auto;
  font-style: normal;
  font-family: arial, sans-serif;
  font-size: var(--scaleBase);
  padding: 0;
  border: 0 none;
}


#PageHeader {
  background-color: #DDDDDD;
  box-shadow: 0 0 0.4em 0.15em #999999;
  position: fixed;
  z-index: 110;
  top: 0;
  left: 0;
  right: 0;
}


#SearchForm {
  margin-top:    0.5em;
  margin-bottom: 0.5em;
  margin-left:   0.8em;
  margin-right:  0.6em;
}


#RigToggles {
  margin-bottom: 0.3em;
}
#RigToggles input {
  display: none;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
#RigToggles span {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  font-size: calc(var(--sizeBase) * 1.1);
  width: 1.5em;
  padding-top: 0.2em;
  padding-bottom: 0.1em;
  padding-left: 0.2em;
  margin-right: 0.1em;
  color: #505050;
  background-color: #EEEEEE;
  text-shadow: 1px 1px 2px rgba(0,0,0, 0.1);
  box-shadow: 1px 1px 3px 1px rgba(0,0,0, 0.2) inset;
  border: 2px inset lightgray;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
#RigToggles input:checked~ span {
  color: white;
  background-color: var(--toggleCheckedColor);
  text-shadow: 1px 1px 2px rgba(0,0,0, 0.4);
  box-shadow: 1px 1px 1px 1px rgba(0,0,0, 0.2);
  border: 2px outset #626262;
  transform: translateY(-1px);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}


#RigSelectionHilite {
  display: none;
  z-index: 120;
  position: absolute;
  background-color: rgba(0,0,0, 0.15);
  border-radius: 5px;
}


#ItemLinksMenu {
  display: none;
  z-index: 90;
  position: absolute;
  background-color: #F5F5F5;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  border: 1px solid #404040;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0, 0.2);
}
#ItemLinksMenu a:not(:first-child) {
  display: block;
  margin-top: 0.2em;
  padding-top: 0.2em;
  border-top: 1px solid #DDDDDD;
}
#ItemLinksMenu a img {
  width: 0.9em;
  height: 1.0em;
  margin-right: 0.25em;
  margin-bottom: -0.15em;
}

#SearchInput {
  width: calc(100% - 0.2em);
  overflow: hidden;
  background-color: #F5F5F5;
  font-size: var(--sizeBase);
  margin-top: 0.4em;
  padding-top: 0.1em;
  padding-left: 0.3em;
}
#SearchInput::placeholder {
  font-style: italic;
  filter: brightness(1.07);
}


#ResultsTable {
  border-spacing: 0;
}
#ResultsTable tr td {
  vertical-align: top;
  border-top: 1px solid var(--separatorColor);
}
#ResultsTable tr:last-child td {
  border-bottom: 1px solid var(--separatorColor);
}
#ResultsTable tr td.NoLine {
  border-top: 0px;
}
/* Item description & quantity */
#ResultsTable tr td:first-child {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-right: 1em;
  padding-left: 1em;
  text-indent: calc(0em - var(--hangingIndent));
  font-size: var(--sizeBase);
}
/* Item location */
#ResultsTable tr td:last-child {
  font-size: calc(var(--sizeBase) * 0.9);
  font-style: italic;
  padding-top: 0.4em;
  padding-bottom: 0.3em;
  padding-right: 0.2em;
  padding-left: 1.5em;
  text-indent:-1em;
}


span.ItemDescr:empty {
  /* When the item description is empty, pad to indent the quantity content */
  padding-left: var(--hangingIndent);
}
span.ItemDescr[data-links] {
  cursor: pointer;
}
span.ItemDescr[data-links]:after {
  background-image: url("LinkIcon_doc.png");
  background-repeat: no-repeat;
  background-size: 0.9em 1.0em;
  display: inline-block;
  content: "";
  width: 0.9em;
  height: 1.0em;
  margin-left: 0.4em;
  margin-bottom: -0.15em;
}


span.Quantity {
  white-space: nowrap;
  color: #707070;
  font-size: calc(var(--sizeBase) * 0.85);
}
span.Quantity[data-quantity="1"]:before {
  /* Exclude explicit quantity suffix if quantity=1 */
}
span.Quantity:not([data-quantity="1"]):before {
  content: " " var(--quantitySeparator) attr(data-quantity);
}
span.ItemDescr:empty + span.Quantity:before {
  /* When item description is empty, include explicit quantity suffix even if quantity=1 */
  content: " " var(--quantitySeparator) attr(data-quantity);
}
span.Quantity.FirstGrouped:before {
  /* Also, on the first item of a group, include explicit quantity suffix even if quantity=1 */
  content: " " var(--quantitySeparator) attr(data-quantity);
}
span.Quantity.FirstGrouped:after {
  content: "   (" attr(data-total-quantity) " total)";
  font-style: italic;
}

span.MatchText {
  font-weight: bold;
  color: black;
}

span.MainWhere {
  font-weight: bold;
  color: red;
}

span.PictureButton {
  cursor: pointer;
}
span.PictureButton:hover {
  text-decoration: underline dotted;
}
span.PictureButton:after {
  background-image: url("PictureIcon.png");
  background-repeat: no-repeat;
  background-size: 1.05em 0.85em;
  display: inline-block;
  content: "";
  width: 1.05em;
  height: 0.85em;
  margin-left: 0.35em;
  margin-bottom: -0.025em;
}


#StatusMessage {
  display: none;
  width: 100%;
  justify-content: center;
  text-align: center;
  padding-top: 7.5em;
  font-size: calc(var(--sizeBase) * 1.2);
  font-style: italic;
  color: #909090;
}


#LoadingModal {
  display: none;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("RefreshAnim.gif");
  background-repeat: no-repeat;
  background-size: 2em 2em;
  background-position: 50% 35%;
  background-color: rgba(230,230,230, 0.7);
  backdrop-filter: blur(1px);
}


#ErrorMessageModal {
  display: none;
  z-index: 130;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(180,180,180, 0.7);
  backdrop-filter: blur(1px);
  justify-content: center;
}
#ErrorMessageBox {
  z-index: 140;
  margin: auto;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  width: min(calc(100% - 5rem), 25rem);
  background-color: #FCFCFC;
  padding-left: 0.9em;
  padding-right: 0.9em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  border: 1px solid #404040;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0, 0.2);
}

.CloseBox {
  --closeBoxSize: 1em;
  position: absolute;
  top: 0.9em;
  right: 0.8em;
  width: var(--closeBoxSize);
  height: var(--closeBoxSize);
  opacity: 0.5;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}
.CloseBox:hover {
  opacity: 0.9;
  box-shadow: 1px 1px 3px rgba(0,0,0, 0.4);
}
.CloseBox:active {
  background-color: rgba(0,0,0, 0.1);
}
.CloseBox:before, .CloseBox:after {
  position: absolute;
  left: calc(var(--closeBoxSize) / 2 - 1px);
  height: var(--closeBoxSize);
  width: 2px;
  background-color: #303030;
  content: ' ';
}
.CloseBox:before {
  transform: rotate(45deg);
}
.CloseBox:after {
  transform: rotate(-45deg);
}

#ErrorTitle {
  font-size: calc(var(--sizeBase) * 1.1);
  font-weight: bold;
  color: #404040;
  padding-bottom: 0.2em;
}
#ErrorMessage {
  font-size: calc(var(--sizeBase) * 0.9);
  font-style: italic;
  color: #707070;
  padding-top: 0.4em;
  padding-bottom: 0.6em;
}
#ErrorAction {
  padding-top: 0.4em;
  font-size: var(--sizeBase);
  color: black;
}
#ErrorAction > a {
  background-color: #E0E0E0;
  padding-top: 0.1em;
  padding-bottom: 0.15em;
  padding-left: 0.3em;
  border-radius: 6px;
}
#ErrorAction > a, #ErrorAction > a:visited {
  color: #0000EE;
}
#ErrorAction > a:after {
  --refreshIconSize: 0.9em;
  background-image: url("ReloadIcon_blue.png");
  background-repeat: no-repeat;
  background-size: var(--refreshIconSize) var(--refreshIconSize);
  width: var(--refreshIconSize);
  height: var(--refreshIconSize);
  margin-bottom: -0.12em;
  margin-left: 0.2em;
  padding-right: 0.25em;
  display: inline-block;
  content: "";
}

#ErrorIndicator {
  display: none;
  z-index: 115;
  position: absolute;
  float: right;
  top: -0.6em;
  right: -0.35em;
  width: 4em;
  height: 4em;
  /* PageHeader background color is #DDDDDD (= 221,221,221); make this halo match it */
  /*background: radial-gradient(closest-side, rgba(221,221,221, 0.9) 70%, rgba(221,221,221, 0) 100%);*/
  /* PageHeader background color is #DDDDDD (= 221,221,221); make this halo just slightly lighter */
  background: radial-gradient(closest-side, rgba(224,224,224, 0.9) 70%, rgba(224,224,224, 0) 100%);
  justify-content: center;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
#ErrorIndicator > div {
  --errIconSize: 1.75em;
  background-image: url("ErrorIcon.png");
  background-repeat: no-repeat;
  background-size: var(--errIconSize) var(--errIconSize);
  width: var(--errIconSize);
  height: var(--errIconSize);
  top: calc(50% - (var(--errIconSize) / 2));
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  opacity: 0.65;
}
#ErrorIndicator > div:hover {
  opacity: 1;
}


